<!-- Create your form here -->
<%= form_tag coupons_path do %>
  <h1>Student Form</h1>
  <label>Store:</label><br>
  <%= text_field_tag :'store' %><br>

  <label>Coupon Code:</label><br>
  <%= text_field_tag :'coupon_code' %><br>

  <%= submit_tag "Submit Coupon" %>
<% end %>
